[data-testid="stAppViewContainer"] {
    background-color: #FFF5EE;
}

.stApp {
    background-color: #FFF5EE;
}

h1, h2, h3, p {
    color: black !important;
}

header[data-testid="stHeader"] {
    background: transparent !important;
}

span[data-testid="stIconMaterial"] {
    color: black !important;
}

/* Hide Deploy button */
[data-testid="stAppDeployButton"] {
    display: none !important;
}

[data-testid="stMainMenu"] {
    display: none !important;
}

div[data-testid="stToolbar"] {
    right: -2rem;
    margin-top: 6.5rem;
}

/* Sidebar */
section[data-testid="stSidebar"] {
    background-color: white;
    border-radius: 20px;
}

section[data-testid="stSidebar"] *{
    color: black;
}

section[data-testid="stSidebar"] ul li a{
    font-size: 20px !important;
    font-weight: 600 !important;
    padding: 12px 16px !important;
}

div[data-testid="stSidebarNavLinkContainer"] :hover{
    background-color: #E3F2FD;
}

/* Text area */
div[data-testid="stTextAreaRootElement"] {
    background-color: white;
    color: black !important;
}

div[data-testid="stTextAreaRootElement"] textarea::placeholder {
    color: black !important;
}

/* Expander */
div[data-testid="stExpander"] {
    background-color: transparent !important;
}

div[data-testid="stExpander"] summary{
    background-color: transparent !important;
    border: 2px solid #ddd;
}

div[data-testid="stExpander"] *{
    font-size: 20px !important;
    font-weight: 600 !important;
}

/* Alert */
div[data-testid="stAlertContainer"] p{
    font-size: 15px !important;
    font-weight: 400 !important;
    width: 100%;
    border-radius: 12px;
    padding: 20px;
}

/* Output level */
div[role="group"]:has(input[aria-label="Output Tone / Level"]) {
    background-color: #FFF5EE !important;
    border: 1px solid #18a4d6 !important;
    border-radius: 25px !important;
    overflow: hidden !important;
}

div[role="option"] {
    color: black !important;
    background-color: #FFF5EE !important;
}

div[role="option"]:hover {
    background-color: #E3F2FD !important;
}

/* Buttons */
div.stButton > button {
    background: #87CEFA;
    border-radius: 12px;
    border: none;
}

div.stButton > button:hover {
    background: linear-gradient(10deg, #6d94ff, #5147de);
}

/* columns background */
div[data-testid="stAlert"] *{
    background-color: white;
    color: black !important;
    border-radius: 13px;   
}




